:root {
    --title-font : "Cascadia code", "Microsoft YaHei", "Times", serif;
    --base-font : "Roboto Slab", "Microsoft YaHei", serif;
    --monospace: "Cascadia code", "Microsoft YaHei", "Courier New", monospace;
    --main-font-size : 15px;
}

.error-out {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../font/RobotoSlab-Regular-2.ttf");
}

@font-face {
    font-family: "Cascadia code";
    src: url("../font/Cascadia-Code-Regular-2.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/Open-Sans-2.ttf");
}

@font-face {
    font-family: "Glow Sans";
    src: url("../font/GlowSansSC-Normal-Book.woff2") format('woff2');
}

body {
    font-family: "Roboto Slab", "SimHei", serif;
    /* background-color: rgb(255, 255, 255); */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: initial;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

img {
    border-style: none;
}


#write h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

#write h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

#write {
    position: static;
    /* width: 90%; */
    max-width: 1000px;
    min-height: calc(100vh - 6rem);
	min-width: calc(100vw - 45rem);
    line-height: 1.6;
    transform: none;
    height: auto;
    caret-color: var(--main-color);
}

#write h2 {
    font-size: 28px;
    border-radius: .5em;
    width: fit-content;
}

#write h3 {
    font-size: 24px;
    border-radius: .3em; 
    width: fit-content;
}

#write h4 {
    font-size: 20px;
}

#write h5 {
    font-size: 16px;
}

#write hr {
    width: 60%;
    text-align:center;
    margin: 4.5em auto;
}

/* table */
#write table
{
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    font-family: var(--monospace);
    margin: 20px;
}
#write table td, table th
{
    border: 1px solid;
    padding: 5px;
    border-radius: .5em;
}
#write table td {
    font-family: var(--title-font);
}
#write table thead th
{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

/* table tr:nth-child(odd)
{
    background: white;
}
table tr:nth-child(even)
{
    background: var(--light-color);
} */

/* main element consisting of your text */
p {
    margin: 0 0 2em 0;  
    font-weight: 500;
    line-height: 1.6;
    font-size: var(--main-font-size);
    font-family: var(--base-font);
}

a {
    font-weight: 500;
    text-decoration: none;
    text-decoration-style: none;
    cursor: pointer;
    padding: 0 3px 0 3px;
}


/* list */
ol, ul {
  font-size: var(--main-font-size);
  padding-left: 2em;
  line-height: 2;
  font-family: var(--base-font);
}