library
node_modules
out
./*.log
./*.str
dist
script/__pycache__
.vscode-test/
*.vsix
parser_stuck.v
out-js/
*.pyc
*.pyd
resources/hdlParser/parser.js
resources/hdlParser/parser.wasm
resources/dide-viewer/view/*
resources/dide-lsp/server/*
resources/dide-lsp/static/*