.vscode/**
.gitignore
**/.gitignore
.git
**/*.map
.eslintrc.json
dist
webpack.config.js
node_modules
out-js
src
script
resources/**/*.js
resources/**/*.d.ts
resources/**/*.wasm
vsixmake.js
CHANGELOG.md
README.md
tsconfig.json