.vscode/**
.vscode-test/**
test/**
.gitignore
.git
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
dist/**/*.map
webpack.config.js
node_modules
out1/**
vsixmake.js
script
CHANGELOG.md