.vscode/**
.gitignore
**/.gitignore
.git
**/*.map
.eslintrc.json
dist
webpack.config.js
node_modules
out-js
src
script
resources/**/*.js
resources/**/*.d.ts
resources/**/*.wasm
resources/dide-lsp/server
tsconfig.json
design
lib