:root {
    --display-signal-info-height: 50px;
    --signal-default-color: #4CAF50;
    --main-color: #CB81DA;
    --main-dark-color: #2D323B;
    --main-light-color: var(--main-color);
    --sidebar-width: 230px;
    --right-nav-width: 60px;
    --time-scale-height: 50px;
    --sidebar-padding: 10px;
    --sidebar-item-margin: 5px;
    --vcd-render-padding: 30px;
    /* 需要满足如下公式 --time-scale-height + --sidebar-padding = --vcd-render-padding + canvas预留 高度 */
    --render-scale-x: 1;

    /* css 动画属性 */
    --animation-7s: .7s cubic-bezier(0.23,1,0.32,1);
    --animation-5s: .5s cubic-bezier(0.23,1,0.32,1);
    --animation-3s: .35s cubic-bezier(0.23,1,0.32,1);
    --gray-box-shadow-0: 0 0 8px 3px rgba(182, 181, 182, 0.9);
}

html, body {
    background-color: var(--background);
    color: var(--foreground);
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

* hr {
    border: none;
    background-color: var(--vscode-focusBorder);
    height: 2px;
    width: 95%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--sidebar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-background);
    border-radius: .3em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
    border-radius: .3em;
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-active);
    border-radius: .3em;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: none;
    display: none;
}

.el-select__wrapper {
    background-color: transparent !important;
    width: 50% !important;
    min-width: 200px !important;
    padding: 13px !important;
    font-size: 16px !important;
    color: var(--sidebar-item-text) !important;
}

.el-select__placeholder {
    color: var(--sidebar-item-text) !important;
}

.el-select-dropdown {
    min-width: 300px !important;
    background-color: var(--sidebar);
    border: 1.0px solid var(--main-color);
    outline: none;
}

.el-checkbox-button__inner {
    font-size: 16px !important;
}

.el-select {
    width: fit-content !important;
}

a {
    color: var(--main-color);
}

.digital-ide-icon {
    background-image: url(./icon.svg);
    background-size: 100%;
    height: 50px;
    width: 50px;
}

.digital-ide-icon.big {
    background-image: url(./icon.svg);
    background-size: 100%;
    height: 200px;
    width: 200px;
}