@font-face {
  font-family: "iconfont"; /* Project id 4748764 */
  src: url('iconfont.woff2?t=1739366063009') format('woff2'),
       url('iconfont.woff?t=1739366063009') format('woff'),
       url('iconfont.ttf?t=1739366063009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-markdown:before {
  content: "\e946";
}

.icon-pdf:before {
  content: "\e604";
}

.icon-html:before {
  content: "\e6a0";
}

.icon-setting:before {
  content: "\e657";
}

.icon-about:before {
  content: "\e603";
}

.icon-i18n:before {
  content: "\e669";
}

.icon-close:before {
  content: "\e602";
}

.icon-full-screen:before {
  content: "\e656";
}

.icon-down:before {
  content: "\e69b";
}

.icon-download:before {
  content: "\e66c";
}

.icon-export:before {
  content: "\e63e";
}

.icon-scale-minus:before {
  content: "\ec13";
}

.icon-scale-plus:before {
  content: "\ec14";
}

.icon-triangle:before {
  content: "\e615";
}

.icon-tree:before {
  content: "\e601";
}

.icon-verilog:before {
  content: "\e634";
}

.icon-top-module:before {
  content: "\e682";
}

.icon-top:before {
  content: "\e600";
}

.icon-parameter:before {
  content: "\e655";
}

.icon-unknown:before {
  content: "\e62a";
}

.icon-port:before {
  content: "\e638";
}

