@font-face {
  font-family: "iconfont"; /* Project id 4748764 */
  src: url('iconfont.woff2?t=1731847061847') format('woff2'),
       url('iconfont.woff?t=1731847061847') format('woff'),
       url('iconfont.ttf?t=1731847061847') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-verilog:before {
  content: "\e634";
}

.icon-top-module:before {
  content: "\e682";
}

.icon-top:before {
  content: "\e600";
}

.icon-parameter:before {
  content: "\e655";
}

.icon-unknown:before {
  content: "\e62a";
}

.icon-port:before {
  content: "\e638";
}

